* {
    box-sizing: border-box;
    font-family: dosis, Tahoma, Arial;
    color: var(--primary-txt-clr);
}

html {
    min-height: 100vh;
}

body {
    margin: 0;
    button {
        border: none;
        border-radius: 1.25em;
        padding-inline: 0.625em;
        height: 2.25em;
        width: fit-content;
        cursor: pointer;
        transition: 1s;

        &:hover {
            animation: pulse;
            animation-duration: 0.5s;
        }

        pre {
            margin: 0;
        }
    }

    a {
        text-decoration: none;
        color: unset;
    }

    ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
    }
}