* {
    box-sizing: border-box;
    font-family: dosis, Tahoma, Arial;
}

html {
    min-height: 100vh;
}

body {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: .5em 0 .5em;
}

p {
    margin: 0 0 1em;
}

pre {
    margin: 0;
}

a {
    text-decoration: none;
    color: unset;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

button {
    border: none;
    border-radius: 1.25em;
    padding-inline: 0.625em;
    height: 2.25em;
    width: fit-content;

    cursor: pointer;

    transition: 1s;
}

button:hover {
    animation: pulse;
    animation-duration: 0.5s;
}