$header-bgc: #ffffff;
.header-section, .footer-section {
    padding: 1em;
    background-color: $header-bgc;
    height: auto;
}

.header-section {
    padding-block: 1.75em;
    height: 2em;
}

.footer-section {
    padding-block: 0.5em;
}

.header-section nav {
    gap: 2em;
}

.footer-section {
    width: 100vw;
}
