.toy-list {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin-block-start: 3rem;

    & > li {
        width: max-content;
    }
}

.toy-actions .remove-btn::before {
    content: "\f2ed";
    font-family: fa;
}